<footer class="main-footer">
    <section>
        <nav>
            <a href="{{host}}/">Flex Yourself</a>
            <a href="{{host}}/terms-and-conditions">Terms & Conditions</a>
        </nav>
    </section>
</footer>
