<footer class="main-footer  ">
     <div class="container">
    <section>        
        <nav>
            <a href="{{host}}/">Flex Yourself</a>
            <a href="{{host}}/terms-and-conditions">Terms & Conditions</a>            
        </nav>
        <small>Copyright &copy; {{ copyrightYear }} Upskins Ltd</small>
    </section>
    </div>
</footer>
