<footer class="main-footer  ">
     <div class="container">
    <section>        
        <small>&copy; {{ copyrightYear }} Upskins Ltd - <a href="{{host}}/terms-and-conditions">T&C</a> - <a href="{{host}}/privacy">Privacy</a></small>
    </section>
    </div>
</footer>
