<footer style="text-align: center">
    <section class="footer-main">
        <nav class="footer-main-item">
            <a href="https://dev.sknups.com/">Flex Yourself</a>
            <a href="https://dev.sknups.com/i/about-us">About SKNUPS</a>
            <a href="https://dev.sknups.com/legal">Terms & Conditions</a>
        </nav>
    </section>
</footer>
