<div class="sr-sharebar sr-sb-vl sr-sb-right">
    <div class="socializer"
         data-features="32px,circle,opacity,vertical,icon-white,pad"
         data-sites="instagram,twitter,discord,reddit,facebook,snapchat,whatsapp,email">

    </div>
</div>
<script src="https://cdn.rawgit.com/vaakash/socializer/80391a50/js/socializer.min.js"></script>
<script>
    (function () {
        socializer('.socializer');
    }());
</script>
