 <div class="fixed-top mb-5">
        <nav class="navbar navbar-dark navbar-skn">
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </nav>
        <div class="collapse" id="navbarToggleExternalContent">
            <div class="bg-skn-dark p-4 col-3 col-md-1">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{{host}}/" >
                            <ion-icon size="large" name="home-outline">
                            </ion-icon>                            
                        </a>
                    </li>              
                    <li class="nav-item">
                        <a class="nav-link" href="{{host}}/about-us" >
                          <ion-icon size="large"  name="help-outline"></ion-icon>                                               
                        </a>
                    </li>                                  
                </ul>
            </div>
        </div>
    </div>