<div class="wrapper">
    <div class="empty">
        <div class="cert">
            <div class="text">
                <h1>{{message}}</h1>
            </div>
        </div>
        <div class="img">
            <img src="/static/backgrounds/SKNUPS_error_cert.png" alt="Invalid Certificate" />
        </div>
    </div>
</div>
