<div class="container mt-5" style="background-color: black; opacity: .8;">
  <div class="p-3">
    <h3>What is SKNUPS?</h3>
    <p>
      SKNUPS is about celebrating the growing availability of digital fashion, and bridging the gap between established brands and the realms of gaming.
    </p>
    <p>
      To do this, SKNUPS collaborates with fashion brands to create exquisite 3D renders of their iconic items and new collections.  We also feature exciting digital designers, who are pushing the boundaries of what fashion can mean in the digital age. In all cases, we create a SKNUPS SKN for collecting and use in Alternate Reality (AR) applications, and skins for use in games and other platforms.
    </p>
    
    <h3>What is a SKN?</h3>
    <p>
      A SKN is a collectible representation of fashion or artistic wearables.  It comes with digital ownership via a signed certificate, a collectible card, and access to the high resolution 3D model for use in AR and model viewers.  You can access owned SKNs via the cryptographic token that we provide via email, or you can view them in our provided Wallet app, which is a hub that provides access to all your SKNs, a basic AR mode, upcoming drops, and the ability to view all games and platforms that are associated with your SKN.
    </p>
    <p>
      Your collection of SKNs can be viewed, shared, organized, tooled up, presented to other collectors, and catalogued.
    </p>

    <h3>Join Us</h3>
    <p>
      SKNUPS is a visionary team with years of experience in technology, gaming, and fashion. We have come together to build a community that is dedicated to the translation of beauty and inspiration into the digital realm.
    </p>
    <p>
      Each of us are much more than what we wear. But when we choose the digital skins on our online avatars, we are providing a visual link to our identity.  Join us as we chart a course of fashion in the gaming age.
    </p>

  </div>
</div>