<style>
    .logo {
        display: flex;
        justify-content: center;
        margin-top: 2rem;
    }

    .main_div {
        padding: 50px 0;
        text-align: center;
        width: 100%;
        font-family: "OCR A";
        font-size: 3vh;
    }

    body {
        align-content: center;
    }
</style>
<div class="logo"><img src="/static/backgrounds/SKNUPS_BOX.jpg" width="500px"></div>

<div class="main_div">
    <p>Enter your certificate ID below to flex:</p>

    <form onsubmit="return process()">
        <input type="text" name="id" id="id" required>
        <input type="submit" value="Flex!">
    </form>
</div>

<script type="text/javascript">
    function process() {
        const certificateId = document.getElementById("id").value;
        const url = `${window.location}certificate/${certificateId}/flex.html`;

        gtag('event', 'search_certificate', {
            'for': certificateId,
        });

        location.href = url;

        // Prevent regular form behaviour
        return false;
    }

</script>
