doctype html
html
  head
    title= title
    style.
      html {
        font-family: "OCR A";
        font-size: 20px;

        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background: #6ebc80;
        background-repeat: no-repeat;
        background: -webkit-linear-gradient(to top, grey, white);
        background: -moz-linear-gradient(to top, grey, white);
        background: -ms-linear-gradient(to top, grey, white);
        background: -o-linear-gradient(to top, grey, white);
        background: linear-gradient(to top, grey, white);
      }

      body {
        display: flex;
        min-height: 100vh;
        flex-direction: column;
      }

      .container {
        flex: 1;
      }

      .footer-main {
        padding: 1.25rem 1.875rem;
        display: flex;
        flex-wrap: wrap;
      }

      .footer-main-item {
        padding: 1.25rem;
        min-width: 12.5rem;
      }

      @media only screen and (min-width: 29.8125rem /*477px*/
      ) {
        .ft-main {
          justify-content: space-around;
        }
      }

      @media only screen and (min-width: 77.5rem /*1240px*/
      ) {
        .ft-main {
          justify-content: space-evenly;
        }
      }

      a {
        color: black;
        text-decoration: none;
      }

      a:hover {
        color: #6ebc80;
      }

      ul {
        list-style: none;
        padding-left: 0;
      }
  body
    p= message

