<script>
    window.onload = function unboxing() {
        setTimeout(function () {
            window.location.href = '{{host}}/cert/{{certCode}}?email={{email}}&redirect=true';
        }, 5000);
    }
</script>

<div class="cert-page">
    <div class="wrapper" style="padding: 10px">
        <div>
            <h1>Flashy Unboxing</h1>
        </div>
    </div>
</div>
