.main-footer {    
    //background-color: $background-dm;
    opacity: 100%;
    text-align: center; 
    flex-shrink: none;
    width: 100%;
    color: $text-colour-dm;

    section {
        padding: 1.25rem 1.875rem;        
        margin: 0 auto;
    }

    nav{
      padding: 1.25rem;
      min-width: 12.5rem; 

      a {
       padding-left: 10px;       
      }
    }
} 

