.toast-error {
    background: #d60101;
    color: $text-colour-dm;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    padding-top:10px ;
    padding-bottom:10px ;
}

.toast-success {
    background: #267e26;
    color: $text-colour-dm;
    width: 100%;
    border-radius: 10px;
    text-align: center;
}