$base-color: #01d6a6;
$text-colour-dm: #edecec;
$text-colour-lm: #151515;
$background-dm: #151515;
$background-lm:  #edecec;

$link-colour:  #01d6a6;
$link-colour-hover:  #1ADAAF;

$warning-colour: #d6b501;
$error-colour: #d60101;
$success-colour: #01d6a6;

$font-family-heading: 'Helvetica', 'Arial', sans-serif; 
$font-family-body: 'Helvetica', 'Arial', sans-serif; 

$font-body-size : 16px;
