@import './_variables.scss';

@import './_typography.scss';
@import './_toast.scss';
@import './_footer.scss';
@import './_cookie-warning.scss';

.navbar-skn {
    min-height: 4rem;
    //background-color: $background-dm;
    opacity: 100%;  
}

.navbar-skn .navbar-brand,
.navbar-skn .navbar-text {
    color: $base-color;   
}

.icon-large{
    font-size: 60px!important;
}

.nav-text {
    font-size: 2.125rem;
    display: inline-block;
    vertical-align: top;
    
}


.btn-skn {
    color: $text-colour-lm;
    background-color:$base-color;
    border-color: $base-color;
    border-radius: 0;
    text-transform: uppercase;
    font-weight: 500;
}

.btn-skn:disabled,
.btn-skn[disabled]{
    color: rgba(255, 255, 255, 0.3);
    background-color: hsla(0,0%,100%,.12);
    border-color:  hsla(0,0%,100%,.12);
}

.bg-skn-dark{
    background-color:$background-dm;  
}

.navbar-skn .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(1,214,166)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
  
.navbar-skn.navbar-toggler {
  border-color: rgb(255,102,203);
} 

html {    
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;    
    background-image: url('/static/backgrounds/claim-form-bg.png'); 
}

body {
    padding-top: 70px;
    width: 100%;
    height: 100%;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;    
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;    
    background-image: url('/static/backgrounds/claim-form-bg.png'); 
 
}

#page-content {
    flex: 1 0 auto;
    padding-bottom: 25px;
  }

.index-page{
    background-color:$background-dm;  
}


.fade-out {
    opacity: 1;
    transition: opacity 0.5s ease-out;
    -moz-transition: opacity 0.5s ease-out;
    -webkit-transition: opacity 0.5s ease-out;
}

.no-opacity { opacity: 0; } 

.visible { opacity: 1; }

.hidden {
    visibility: hidden !important;
}

.index-page {
    .logo {
        display: flex;
        justify-content: center;
        margin-top: 2rem;
    }

    .main_div {
        padding: 50px 0;        
        width: 100%;
    }

    body {
        align-content: center;
    }
}

.cert-image-wrapper{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.cert-image {
    display: flex;
    position: absolute;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left: auto;
    margin-right: auto;

    -webkit-transition: all 500ms ease-in;
    -moz-transition: all 500ms ease-in;
    -o-transition: all 500ms ease-in;
    transition: all 500ms ease-in;
}

