<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Sknups</title>
    {{> page/head-common}}
    {{> page/head }}
    {{> page/common-head-style }}
</head>
<body>
{{{body}}}

{{> page/social}}
</body>
</html>
