<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/vaakash/socializer/80391a50/css/socializer.min.css" />
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/main.css" />
    <meta charset="utf-8">
    <title>Sknups</title>
    {{> page/google-tag-manager}}
    {{> page/head }}    
</head>
<body>
{{{body}}}

{{> page/social}}
{{> page/footer}}
{{> page/cookie}}
</body>
</html>
