<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/assets/css/main.css" />
    <meta charset="utf-8">
    <title>Sknups</title>
    {{> page/head-common}}
    {{> page/head }}
    {{> page/common-head-style }}
</head>
<body>
{{{body}}}

{{> page/social}}
{{> page/cookie}}
</body>
</html>
