<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/assets/css/main.css" />
    <title>Sknups</title>
</head>
<body>
{{{body}}}
{{> page/footer}}
</body>
</html>
