<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Sknups</title>
        {{> page/head-common}}
        {{> page/missing-certificate-head }}
        {{> page/common-head-style }}
    </head>
    <body>

        {{{body}}}

        {{> page/social}}
        {{> page/footer}}
    </body>
</html>
